In [1]:
import os
os.getcwd()

# get Current Working Directory(cwd)

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch_11_Oct\\Python_session'

## Variables

Variables are used to store the values, and the values can be change

In [3]:
num=100
# esc+m
# shift+enter
# value 100 stored in a varaible called : num
print(num)

100

In [4]:
num=200
print(num)

200

In [5]:
NUMBER=200
NUMBER

200

In [6]:
number=300
number

300

In [7]:
number,NUMBER

(300, 200)

In [8]:
number123=300
number123

300

In [9]:
123number=400
123number

SyntaxError: invalid decimal literal (359278068.py, line 1)

In [ ]:
number  # works
NUMBER  # works
number123 # woks
123number # Notworks

In [10]:
NUMBERone=500
NUMBERone

500

In [11]:
number$one=600
number$one

SyntaxError: invalid syntax (275804197.py, line 1)

In [12]:
number&one=600
number&one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1323231619.py, line 1)

In [13]:
number*one=900
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1987472248.py, line 1)

In [14]:
number_one=1000
number_one

1000

In [15]:
number one=2000
number one

SyntaxError: invalid syntax (1053755253.py, line 1)

In [ ]:
number  # works
NUMBER  # works
number123 # woks
123number # Notworks
number$one # NW
number&one #NW
number*one #NW
number_one # Works 
number one # NW

In [16]:
if =600
if

SyntaxError: invalid syntax (570416339.py, line 1)

In [ ]:
if
else
True
False
for
while

- variables can be Capital letters

- variables can be a small letter

- Variables can be a mix of both capital and small letters

- Variables can be a mix of letters and numbers as **suffix**

- Variables can not be a mix of letters and numbers as **prefix**

- Variables can not be include special characters except **underscore**

- Variables can not be include a **space between words**

- Only underscore also consider as variables

- Inbulit keywords can not be a variables

In [17]:
_=600
_

600

In [ ]:
number  # works
NUMBER  # works
number123 # woks
123number # Notworks
number$one # NW
number&one #NW
number*one #NW
number_one # Works 
number one # NW
if=100    # NW
_= 200    #works

In [ ]:
sir  if i write all keuwords in capital letters means it will run or not sir

if=200
IF=200

In [ ]:
model_accuracy_data=0.6
model_accuracy_data