- List comprehension is a way to write the code line in a single line

- whenever we use for loops and if conditions the time will be increase

- list comprehension will able to write for loop and if condition in a single line

- which reduce the time to get the output

In [1]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [2]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Method-1: Only for loop**

In [ ]:
#list1=[<code here>]
#list1=[<output> <for loop>]

In [3]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']

#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']

#Q3)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]  multiply index with 10

#Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=[6]  sum of the indexes

In [6]:
# Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']

l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())

In [7]:
l1=['hyd','chennai','mumbai','pune']
ans=[i.capitalize() for i in l1]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [8]:
ans=[i.capitalize() for i in ['hyd','chennai','mumbai','pune']]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [10]:
#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [11]:
l1=['hyd','chennai','mumbai','pune']
ans=[i.upper() for i in l1]
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [18]:
#Q3)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]  multiply index with 10
l1=['hyd','chennai','mumbai','pune']
#    0       1        2        3
ans=[]
for i in l1:
    ans.append(l1.index(i)*10)
ans

[0, 10, 20, 30]

In [19]:
ans=[l1.index(i)*10 for i in l1]
ans

[0, 10, 20, 30]

In [11]:
#Q4)  l1=['hyd','chennai','mumbai','pune']
#    ans=[6]  sum of the indexes
l1=['hyd','chennai','mumbai','pune']
#summ=0
ans=[l1.index(i) for i in l1]
sum(ans)

6

In [16]:
summ=0
for i in l1:
    summ=summ+l1.index(i)
    #summ+=l1.index(i)
print(summ)

6

In [18]:
l1=['hyd','chennai','mumbai','pune']
summ=0
ans=[i for i in range(len(l1))]
ans

[0, 1, 2, 3]

**Method-2**

- for loop with if condition

In [38]:
#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']

l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)

ans

['chen#ai', 'mu#bai']

In [39]:
#[<output> <forloop>]
#[<output> <if condition> <forloop>]

[i if '#' in i for i in l1]

SyntaxError: expected 'else' after 'if' expression (1016266204.py, line 4)

In [40]:
[i for i in l1 if '#' in i]

['chen#ai', 'mu#bai']

In [ ]:
#[<output> <for loop> <if condition>]

In [ ]:

#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

# Q3) dont give if and else
#    write two answers both will use if only
#   evenlist=[<write your code here>]
#   oddlist=[<write your code here>]
#  list1=[100,20,27,38,47,52,87]
# using this we need to extract even and odd numbers
# even_list=[20.38,52,100] the output should be sorted
# odd_list=[27,47,38,87] the output should be sorted

In [42]:
list1=[100,20,27,38,47,52,87]
even_list=[i for i in list1 if i%2==0]
odd_list=[i for i in list1 if i%2!=0]
even_list,odd_list

([100, 20, 38, 52], [27, 47, 87])

**Method-3: for loop - if -else**

In [ ]:
method-1: for loop [<output> <forloop>]
method-2: for loop-if [<output> <forloop> <if condtion>]
method-3: for-if-else: [<if output> <if condition> else <else output> <forloop> ]

In [44]:
list1=[100,20,27,38,47,52,87]
[f'even:{i}' if i%2==0 else f'odd:{i}' for i in list1]

['even:100', 'even:20', 'odd:27', 'even:38', 'odd:47', 'even:52', 'odd:87']

In [ ]:
l=[45,76,89,53,67,90,82,49,33,99]
# 1. filter the students who pass marks>=50
# 2. calculate grades of all students
#        A: 85+, B: 70-84  C : 50-69  D:<50
#        4 lists will come
# 3. Add 5 grace marks to students who failed <50
# 4. find the average marks of the class

In [45]:
l=[45,76,89,53,67,90,82,49,33,99]
# 1. filter the students who pass marks>=50
[i for i in l if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [47]:
# 2. calculate grades of all students
#        A: 85+, B: 70-84  C : 50-69  D:<50
grade_list=[]
for i in l:
    if i>85:
        grade_list.append(f'A:{i}')
    elif i>=70:
        grade_list.append(f'B:{i}')
    elif i>=50:
        grade_list.append(f'C:{i}')
    else:
        grade_list.append(f'D:{i}')
grade_list

['D:45',
 'B:76',
 'A:89',
 'C:53',
 'C:67',
 'A:90',
 'B:82',
 'D:49',
 'D:33',
 'A:99']

In [ ]:
**Method-4: for if elif else**

- there is no elif in list comprehension

- elif also we can write : else+if

- method-3: [<if output> <if cond> else <elseoutput>]

- method-4: [<if output> <if cond> else <elif out> <elif con> else <elseoutut> <forloop>]

In [48]:
grade_list=[]
for i in l:
    if i>85:
        grade_list.append(f'A:{i}')
    elif i>=70:
        grade_list.append(f'B:{i}')
    else:
        grade_list.append(f'C:{i}')
grade_list

f'A{i}' if i>=85
else f'B:{i}' if i>=70  :  else+if = elif
else f'C:{i}' if i>=50  : else+if=elif
else f'D:{i}'

[f'A:{i}' if i>85 else f'B:{i}' if i>=70 else  f'C:{i}' for i in l]

['C:45',
 'B:76',
 'A:89',
 'C:53',
 'C:67',
 'A:90',
 'B:82',
 'C:49',
 'C:33',
 'A:99']

In [ ]:
method-1: for loop [<output> <forloop>]
method-2: for loop-if [<output> <forloop> <if condtion>]
method-3: for-if-else: [<if output> <if condition> else <else output> <forloop> ]
method-4: [<if output> <if cond> else <elif output> <elif cond> else <elseoutput> <forloop>]

In [50]:
l=[45,76,89,53,67,90,82,49,33,99]
sum(l)/len(l)

68.3

In [51]:
summ=0
for i in l:
    summ=summ+i
print(summ)
print('avg:',summ/len(l))

683
avg: 68.3

**walrus operator**

- in list comprehension = will not work

- if you want to write equal to (=)  , then will use walrus operator :=

In [56]:
total=0
ans=[total:=total+i for i in l]
total/len(ans)

68.3