In [1]:
str1='hello how are you'
# ans= ['Hello','How','Are','You']
str1.split()

['hello', 'how', 'are', 'you']

In [3]:
#method-1
ans=[]
for i in str1.split():
    ans.append(i.title())

ans

['Hello', 'How', 'Are', 'You']

In [6]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
# 'Ramesh age is 20'
# 'Suresh age is 30'
# 'Sathish age is 40'
for i in range(len(l1)):
    print(f"{l1[i]} age is {l2[i]}")

Ramesh age is 20
Suresh age is 30
Sathish age is 40

$zip$

In [12]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l3=['Hyd','Mumbai','Chennai']
for i,j,k in zip(l1,l2,l3):
    print(f"{i} has age is {j} and he is from {k}")

Ramesh has age is 20 and he is from Hyd
Suresh has age is 30 and he is from Mumbai
Sathish has age is 40 and he is from Chennai

**dictionary**

- strings represnt in quotes

- list represnt in square brackets

- tuple represnt in parnthases

- sets represnt in curly braces with only one value

- Dictionary also represnt in curly braces with two values

- Dictionary has key:value pair

- Dictionary elements are in pair

    - one element called as **key**

    - another element called as **value**

In [ ]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]

{key:value}
{key1:value1,key2:value2,key3:value3}

In [13]:
dict1={'Ramesh':20,'Suresh':30,'Sathish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [14]:
type(dict1)

dict

- intialization

- inbuilt functions

    - max

    - min

    - len

    - sum

    - sorted

    - reversed

- index

- mutable vs immutable

- concatenation

- slicing

- methods

**intialization**

In [ ]:
dict1={'Ramesh':20,'Suresh':30,'Sathish':40}
dict2={20:'Ramesh'}
# key int  value string
# key string value list vice versa
# key list value

In [15]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [16]:
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
d2

{'Ramesh': '20', 'Suresh': '30', 'Sathish': '40'}

In [17]:
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d3

{20: 'Ramesh', 30: 'Suresh', 40: 'Sathish'}

In [18]:
d4={'Ramesh':20,'Ramesh':30}
d4 
# Keys are important
# when same keys but different value
# it will take the latest value

{'Ramesh': 30}

In [19]:
d5={'Ramesh':20,'Suresh':20}
d5

{'Ramesh': 20, 'Suresh': 20}

In [20]:
d6={'Ramesh':20,'Ramesh':20}
d6
# Duplicates are not allowed

{'Ramesh': 20}

In [21]:
d7={'Fruite':'Apple','cost':10.5,'count':100, 'ava':True}
d7

{'Fruite': 'Apple', 'cost': 10.5, 'count': 100, 'ava': True}

In [22]:
d8={True:'Yes'}
d8

{True: 'Yes'}

In [23]:
d9={'age':[10,20,30]}
d9
# list can be a value

{'age': [10, 20, 30]}

In [24]:
d10={[10,20,30]:'Age'}
d10

TypeError: unhashable type: 'list'

In [25]:
d11={'age':(10,20,30)}
d11

{'age': (10, 20, 30)}

In [26]:
d12={(10,20,30):'Age'}
d12

{(10, 20, 30): 'Age'}

- list is mutable

- tuple is immutable

- so list can not be a key 

**keys are important**

In [27]:
d13={(10,20,30):('A','B','C')}
d13

{(10, 20, 30): ('A', 'B', 'C')}

In [28]:
d14={(10,20,30):['A','B','C']}
d14

{(10, 20, 30): ['A', 'B', 'C']}

In [29]:
d15={[10,20,30]:('A','B','C')}
d15

TypeError: unhashable type: 'list'

In [30]:
d16={'Fruites':{'Apple':50}}
d16

{'Fruites': {'Apple': 50}}

In [31]:
d17={{'Apple':50}:'Fruites'}
d17

TypeError: unhashable type: 'dict'

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40} # w
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'} # w
d3={20:'Ramesh',30:'Suresh',40:'Sathish'} # w
d4={'Ramesh':20,'Ramesh':30} # w But latest
d5={'Ramesh':20,'Suresh':20} # w 
d6={'Ramesh':20,'Ramesh':20} # w no duplicates
d7={'Fruite':'Apple','cost':10.5,'count':100, 'ava':True} # w
d8={True:'Yes'} # w
d9={'age':[10,20,30]} # w
d10={[10,20,30]:'Age'} # f
d11={'age':(10,20,30)} # w
d12={(10,20,30):'Age'} # w
d13={(10,20,30):('A','B','C')} # w
d14={(10,20,30):['A','B','C']} # w
d15={[10,20,30]:('A','B','C')} # f
d16={'Fruites':{'Apple':50}} # w
d17={{'Apple':50}:'Fruites'} # f

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'} 
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d4={'Ramesh':'20','Suresh':30,40:'Sathish'}
# max
# min
# len
# sorted
# reveresed
# sum

In [32]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
max(d1)

'Suresh'

In [33]:
d1={'Ramesh':40,'Suresh':40,'Sathish':40}
max(d1)

'Suresh'

In [34]:
d1={20:'A',30:'S',40:'c'}
max(d1)

40

In [35]:
d1={20:'A',30:'S',40:'c'}
min(d1)

20

In [36]:
d1={20:'A',30:'S',40:'c'}
sum(d1)

90

In [37]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
d1={20:'A',30:'S','A':'c'}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
30+'A'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
d1={20:'A',30:'S','A':'c'}
len(d1)

3

In [41]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
sorted(d1)

['Ramesh', 'Sathish', 'Suresh']

In [42]:
sorted([1,100,30])

[1, 30, 100]

In [43]:
d1={'Ramesh':20,'Suresh':30,100:40}
sorted(d1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [45]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(reversed(d1))

['Sathish', 'Suresh', 'Ramesh']

In [46]:
d1={'Ramesh':20,'Suresh':30,100:40}
reversed(d1)

- Max/min/sorted can work for homogeneous

- sum is only work for numbers only

- reveresd can work any one

**index**

In [47]:
l=[10,20,30]
l[0]

10

In [48]:
s='python'
s[0]

'p'

In [49]:
d1={'Ramesh':20,'Suresh':30}
d1[0]

KeyError: 0

In [50]:
d1['Ramesh']

20

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1['Ramesh']  # 20
d1['Suresh']  # 30
d1['Sathish'] # 40

d1[i]

In [53]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
for i in d1:
    print(i,d1[i])
    print(f"{i} has age : {d1[i]}")

Ramesh 20
Ramesh has age : 20
Suresh 30
Suresh has age : 30
Sathish 40
Sathish has age : 40

- whenever we iterate dictionary using for loop in operator it will give keys

- if want to get value we will access through keys only

- key will work as index

In [55]:
d1={'Fruites':['Apple','Banana','Cherry']}
d1['Fruites'][2]

'Cherry'

In [56]:
d1={'Fruites':{'Appple':['Sweet','Green','custred']}}
d1

{'Fruites': {'Appple': ['Sweet', 'Green', 'custred']}}

In [59]:
d1['Fruites']['Appple'][1]

'Green'

In [60]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1

{'Fruites': [{'Cost': [100, 200, 300]}]}

In [64]:
d1['Fruites'][0]['Cost'][2]

300

In [65]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],
                               '2kg':['None']}]}
d1

{'Fruites': ['Apple'], 'Cost': [{'1kg': [300, 500], '2kg': ['None']}]}

In [69]:
d1['Cost'][0]['2kg'][0]

'None'

In [70]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1

{'Fruites': {'Mango': {'Nagpur': {'MH': {'King': {'Shivaji': {'Shambaji'}}}}}}}

In [76]:
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji'][]

{'Shambaji'}

In [77]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',  
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']


clear
copy
items
values
keys

**how to convert list to dictionary**

In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
# {'Ramesh':20,'Suresh':30,'Sathish':40}
dict1={}
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 30
Sathish 40

In [4]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1['Sathish']=40
dict1[i]=j

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [5]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [ ]:
# strings to list (split)
# list to strings (join)
# list to dictionary ()
# dict to list()

**how to convert dictionary to list**

In [12]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
# iterate it print i==== key
# using key how to get value
# take two empty list and append it
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['Ramesh', 'Suresh', 'Sathish'], [20, 30, 40])

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1
############################################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

In [13]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=[key for key in d]
values=[d[key] for key in d]

**dictionary comprehenshion**

In [16]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]

d={key:value for key,value in zip(names,age)}
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

**mutable- immutable**

- list are mutable

- strings are immutable

- tuple are immutable

- dictionary also mutable we can modify the value of a dictionary

In [18]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d['Ramesh']=40
d

{'Ramesh': 40, 'Suresh': 30, 'Sathish': 40}

- dictionary is similar to database operations

- keys always unique but values can be change

**concatenation**

In [19]:
d1={'Ramesh':20}
d2={'Fruite':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [21]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)])

In [22]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.values()

dict_values([20, 30, 40])

In [23]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [28]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=d.keys()
type(keys),keys

(dict_keys, dict_keys(['Ramesh', 'Suresh', 'Sathish']))

In [27]:
len(keys)

3

In [29]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

- dict_keys is a type of keys represented in a list

- it is looks like list but not list

- we can not use list methods here

- for that we need to convert dict_keys to list

In [32]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=d.keys() # dict_keys type
list(keys)    # list      type

['Ramesh', 'Suresh', 'Sathish']

In [33]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
values=d.values() # dict_values type
list(values)    # list      type

[20, 30, 40]

In [34]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
items=d.items() # dict_items type
list(items)    # list      type

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [ ]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values
######################################################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=[key for key in d]
values=[d[key] for key in d]
#############################################
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}
keys=list(d.keys())
values=list(d.values())

In [ ]:
When we are using keys list, values list, then what is the use of Items as list
items : both are coming
values: values
keys: only keys

In [ ]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}

In [35]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
#d={'ramesh': '20', 'suresh': '30','sathish': '40'}

In [39]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'sathish': '40'}

**get**

In [42]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.get('Ramesh')

20

In [43]:
d.get('Ram')

In [45]:
d['Ramesh'] # noraml way
d['Ram']    # error

KeyError: 'Ram'

In [ ]:
############## methods #########################
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.get('Ramesh')  # ans
d.get('r')       # no error-no ans
##############################################
d['Ramesh'] # noraml way
d['r']    # error

**update**

In [47]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d1={'Fruites':'Apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Fruites': 'Apple'}

In [51]:
d.update(Apple=200)
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Sathish', 40), ('Fruites', 'Apple'), ('Apple', 200)])

In [52]:
t=(200,'marks')
l=[t]
d.update([(200,'marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Sathish': 40,
 'Fruites': 'Apple',
 'Apple': 200,
 200: 'marks'}

- concatenate of two dictionary fails

- but we can combine two dictionarys using update method

In [ ]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d1={'Fruites':'Apple'}
d.update(d1) # dict in dict
d.update(Apple=200)
d.update([(200,'marks')])

In [53]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**pop-popitem**

In [54]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.pop('Ramesh')

20

In [55]:
d

{'Suresh': 30, 'Sathish': 40}

In [56]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.pop('r')

KeyError: 'r'

In [57]:
l=[100,200,333,444]
l.pop(2)   # index

d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.pop('Ramesh') # key

333

In [58]:
l=[100,200,333,444]
l.remove(333)

In [59]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
d.popitem()

('Sathish', 40)

In [60]:
d

{'Ramesh': 20, 'Suresh': 30}

- pop will excpect a key , corresponding value will be removed

    - pop will return the **value which is removing**

- pop item has no arguments, last key-value pair will be removed

    - pop item return last **key-value pair**

**del**

In [61]:
l=[100,200,333,444]
del l[0]
l

[200, 333, 444]

In [62]:
l=[100,200,333,444]
del l # l is gone here
l

NameError: name 'l' is not defined

In [65]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
del d['Ramesh']
del(d['Suresh'])
d

{'Sathish': 40}

In [64]:
d={'Ramesh': 20, 'Suresh': 30,'Sathish': 40}
del d
d

NameError: name 'd' is not defined

In [ ]:
count in strings also in list

index in strings also in list

find in strings but not in list

pop in list also in dictionary

remove in list but in dictionary pop item

concatenation in list ==== extend in list

access value using key in dict===== get method 

del for list and dictionary

sorted and reveresed for all data types

strings to list

list to strings

list to dictionary

dictionary to list