In [ ]:
Method-1: [output forloop]
Method-2: [if_output forloop ifcond]
Method-3: [ifoutput ifcond else elseoutput forloop]
Method-4: [ifoutput ifcond else ifoutput ifcond else elseoutput forloop]

In [1]:
def mul(a):
    return(a*a)

ans=mul(10)
ans

100

- lambda is a keyword used to write functions in a single line

- in list comprehension we will write in single line

- it is same analogy

- it will reduce the time complexity

$pattern-1$

- function with one argument

In [ ]:
# syntax

# function name= lambda <argument name>:<return output>
# in above 
# function name : mul
# argument name : a
# return output : a*a

In [6]:
mul= lambda a : a*a 
mul(1000)

1000000

In [3]:
def mul1(a):
    return(a*a)

mul1(10)

In [7]:
def cube(x):
    return(x**3)
cube(10)

1000

In [8]:
cub1= lambda x:x**3
cub1(20)

8000

$pattern-2$

- function with two arguments

In [9]:
# syntax
# <function name>= lambda <arg1>,<arg2>: return(output)

In [11]:
def add(a,b):
    return(a+b)
add(100,200)

300

In [12]:
add1=lambda x,y:x+y
add1(100,20)

120

In [19]:
def avg(a,b,c):
    return(round((a+b+c)/3,2))
avg(10,22,26)

19.33

In [20]:
avg1= lambda a,b,c : round((a+b+c)/3,3)
avg1(10,22,26)

19.333

In [21]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

$pattern-3$

**default argument**

In [22]:
avg2= lambda a,b,c=500 : round((a+b+c)/3,3)
avg2(100,29)

209.667

$pattern-4$

- if else

In [23]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [ ]:
# syntax
# function name= lambda <arg1>,<arg2>: <if output> <if cond> else <elseoutput>

In [25]:
maximum= lambda a,b: a if a>b else b
maximum(100,125)

125

$pattern-5$

- List cases

In [26]:
list1=['hyd','mumbai','pune']
# ans= ['Hyd','Mumbai','Pune']
ans=[]
for i in list1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Pune']

In [1]:
#lambda <variable>: <op>
lambda i : i.capitalize()

In [27]:
lambda i : i.capitalize()

In [ ]:
lambda <variable>: <op>,<iterator>

In [28]:
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [29]:
# step-1: lambda <variable>: <op>
lambda i : i.capitalize()
# step-2: lambda <variable>: <op>,<iterator>
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

**map**

- map is used to combine the function and iterator

In [30]:
# step-3:
# map(lambda <variable>: <op>,<iterator>)
map(lambda i:i.capitalize(),list1)

In [31]:
# step-4: when we apply the output will store at address
# so apply the list or tuple to see the answer
# list(map(lambda <variable>: <op>,<iterator>))
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [32]:
tuple(map(lambda i:i.capitalize(),list1))

('Hyd', 'Mumbai', 'Pune')

In [ ]:
# step-1: lambda <variable>: <op>
# step-2: lambda <variable>: <op>,<iteartor>
# step-3: map(lambda <variable>: <op>,<iteartor>)
# step-4: list(map(lambda <variable>: <op>,<iteartor>))

In [33]:
lambda i : i.capitalize()
lambda i : i.capitalize(),list1
map(lambda i : i.capitalize(),list1)
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [ ]:
#  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']

#   l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]

# str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']


#  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']

#  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

In [34]:
#  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=list(map(lambda i : i.upper(),l1))
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [35]:
#   l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]
l1=['hyd','chennai','mumbai','pune']
ans=list(map(lambda i : l1.index(i)*10,l1))
ans

[0, 10, 20, 30]

In [37]:
# str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']
str1= 'hello hai how are you'
ans=list(map(lambda i : i.title(),str1.split()))
ans

['Hello', 'Hai', 'How', 'Are', 'You']

In [38]:
#  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['chen#ai', 'mu#bai']

In [ ]:
lambda <variable> : <condition>
# dont write if
# dont write i

In [44]:
l1=['hyd','chen#ai','mu#bai','pune']
list(map(lambda i:'#' in i,l1))

[False, True, True, False]

**filter**

- whenever condition statements

- which means we are filtering the answers based on condition

- map will give boolean outputs, True or False

- True answers we can see by applying filter only

In [45]:
l1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' in i,l1))

['chen#ai', 'mu#bai']

In [ ]:
# mistake-1:  [dont write if]
# list(filter(lambda i:if '#' in i,l1))

# mistake-2: [dont write the output i]
# list(filter(lambda i:i if '#' in i,l1))

In [46]:
l1=[1,2,3,4,5]
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

**reduce**

- reduce is a method to write all inbulit functions using lambda method

- it is avilable in a package called **func tools**

- Level-1: reduce(lambda sum,i : sum+i,list1)

- Level-2: reduce(lambda sum,i : sum+i,list1,value)

- in level-1 by defulat sum=0

- in level-2 the sum starts with some value

In [47]:
import functools

In [48]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [49]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i: summ+i,list1)

15

In [50]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i: summ+i,list1,200)

215

In [51]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda val,i: val*i,list1)

120

In [ ]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i: summ+i,list1)

from functools import reduce
list1=[1,2,3,4,5]
reduce(lambda summ,i: summ+i,list1)

import functools as ft
list1=[1,2,3,4,5]
ft.reduce(lambda summ,i: summ+i,list1)

In [54]:
import functools
functools

In [ ]:
lambda <variable>:<op>
lambda <variable>: <if op> <if con> else <else>
map(lambda <variable>: <op>,iterator)
filter(lambda <variable>: <con>,<iterator>)
reduce(lambda <var1>,<var2>: var1+var2,<iterator>)