- Variables

- Data types

- Type casting (Convert one data type to another data type)

- Doc string 

- print statements

In [1]:
num1=30
num2=20
num1
num2

20

In [2]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [5]:
num1=30
num2=20
print(num1),print(num2)
num1,num2

30
20

(30, 20)

In [4]:
num1=30
num2=20
print(num1,num2)

30 20

In [ ]:
num1=30
num2=20
print(num1)
print(num2)
#############################
num1=30
num2=20
print(num1),print(num2)
num1,num2
################################
num1=30
num2=20
print(num1,num2)

In [10]:
num1=30
num2=20
print(num1),print(num2)

30
20

(None, None)

In [11]:
num1,num2

(30, 20)

In [12]:
num1+num2

50

In [15]:
print(30,20,'python')

30 20 python

In [20]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)

the addition of 100 and 200 is 300

In [22]:
name='python'
age=10
city='Hyd'
# My name is python im 10 years old and from hyd
print('My name is',name,'im',age,'years old and from',city)

My name is python im 10 years old and from Hyd

**format**

In [27]:
a=1000
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200

In [30]:
name='python'
age=10
city='Hyd'
# My name is python im 10 years old and from hyd
print('My name is',name,'im',age,'years old and from',city)
print('My name is {} im {} years old and from {}'.format(name,age,city))
print('My name is {} im {} years old and from {}'.format(city,age,name))

My name is python im 10 years old and from Hyd
My name is python im 10 years old and from Hyd
My name is Hyd im 10 years old and from python

In [31]:
n1=100
n2=200
sub=n1-n2
mul=n1*n2
div=n1/n2
print('the addition of {} and {} is {}'.format(n1,n2,n1+n2))
print('the subtraction of {} and {} is {}'.format(n1,n2,n1-n2))
print('the multiplication of {} and {} is {}'.format(n1,n2,n1*n2))
print('the division of {} and {} is {}'.format(n1,n2,n1/n2))

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

**f string**

In [33]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)
print('the addition of {} and {} is {}'.format(a,b,c))
print(f'the addition of {a} and {b} is {c}.')

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300.

In [35]:
n1=100
n2=200
sub=n1-n2
mul=n1*n2
div=n1/n2
print(f'the addition of {n1} and {n2} is {n1+n2}')
print(f'the subtraction of {n1} and {n2} is {n1-n2}')
print(f'the multiplication of {n1} and {n2} is {n1*n2}')
print(f'the division of {n1} and {n2} is {n1/n2}')

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

- we have a situation wants to combine two print statements

In [38]:
print('hello')
print('good morning')
print('hai')

# hello good morning hai

hello
good morning
hai

In [37]:
print('hello good morning')

hello good morning

$end$

In [49]:
print(20,end='****')
a=20
print(30)
print(a)

20****30
20

In [51]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

In [53]:
print(20,'*****',30)

20 ***** 30

In [54]:
print(20,end='****')
print(30)

20***30

- We want to seperate the multiple variables in one print statement

In [56]:
print(20,'---->',30)

20 ----> 30

In [ ]:
20 '---->' 30

$sep$

In [61]:
print(20,30,50,sep='=')

20=30=50

- end operator used to combine multiple print statements

- sep operator use to seperate the multiple variables in a single print statements

In [63]:
print('the addition of 3+4 is',3+4,'.')
print(f'the addition of 3+4 is' ,3+4, sep='.')

the addition of 3+4 is 7 .
the addition of 3+4 is.7

In [64]:
print('addition of {} + {} is {}'.format(3,4,3+4))
print(f'addition of{3}+{4}is {3+4}')
print('addition of 3+4 is 7 ',sep='')

addition of 3 + 4 is 7
addition of3+4is 7
addition of 3+4 is 7

In [65]:
print(f'the addition of 3+4 is {3+4}.')
print('the addition of 3+4 is {3+4}',"",sep=".")

the addition of 3+4 is 7.
the addition of 3+4 is {3+4}.

In [66]:
print(f'the addition of 3+4 is {7}','.',sep='')

the addition of 3+4 is 7.

In [68]:
print(f'the addition of 3+4 is {7}.')

the addition of 3+4 is 7.

In [72]:
print('the addition of 3+4 is ',3+4,'.',sep='')

the addition of 3+4 is 7.

- basic

- format

- f strig

- end

- sep